.App {
    width: 90%;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.App h1 {
    text-align: center;
    color: white;
    font-size: 2rem;
    padding-bottom: 3rem;
}


.App h2 {
    text-align: center;
    color: white;
    font-size: 1.25rem;
}

.App--alt {
    text-align: center;
}

.app__refresh {
    background-color: white;
    color: #0D261F;
    font-size: 1.125rem;
    padding: 0.25rem 1.25rem;
    margin-top: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
}